# Daten
data/raw/*
data/processed/*.rds

# R / RStudio
.Rproj.user/
.Rhistory
.Rapp.history
.RData
.RDataTmp
*.Rproj

# Positron
air.toml
*.toml

# Shiny Logs
app/*.log

# VSCode
.vscode/

# Reports / Output
# reports/*.pdf
reports/*_files/

# Quarto cache & temp files
*_cache/
.cache/
.quarto/